<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Films by <%= dir_name %></title>
    <link rel="stylesheet" href="/style.css" />
    <script type="module" src="/js/main.js" defer></script>
  </head>
  <body>
    <%- include("../partials/header", {title: `Films by ${dir_name}`}) %>

    <table border="1" cellpadding="5" cellspacing="0">
      <thead>
        <tr>
          <th class="table-header" id="table-header-title">
            <div class="inner-th">
              <span class="header-title">Film Title</span>
              <div class="arrow-container">
                <a
                  href="/directors/films?dir_name=<%= dir_name %>&sort=title&order=asc"
                  class="arrow up-arrow"
                  >↑</a
                >
                <a
                  href="/directors/films?dir_name=<%= dir_name %>&sort=title&order=desc"
                  class="arrow down-arrow"
                  >↓</a
                >
              </div>
            </div>
          </th>

          <th class="table-header" id="table-header-release-year">
            <div class="inner-th">
              <span class="header-title">Release Year</span>
              <div class="arrow-container">
                <a
                  href="/directors/films?dir_name=<%= dir_name %>&sort=release_year&order=asc"
                  class="arrow up-arrow"
                  >↑</a
                >
                <a
                  href="/directors/films?dir_name=<%= dir_name %>&sort=release_year&order=desc"
                  class="arrow down-arrow"
                  >↓</a
                >
              </div>
            </div>
          </th>

          <th class="table-header" id="table-header-genre">
            <div class="inner-th">
              <span class="header-title">Genre</span>
              <div class="arrow-container">
                <a
                  href="/directors/films?dir_name=<%= dir_name %>&sort=genre_name&order=asc"
                  class="arrow up-arrow"
                  >↑</a
                >
                <a
                  href="/directors/films?dir_name=<%= dir_name %>&sort=genre_name&order=desc"
                  class="arrow down-arrow"
                  >↓</a
                >
              </div>
            </div>
          </th>

          <th class="table-header" id="table-header-actions">
            <div class="inner-th">
              <span class="header-title">Actions</span>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <% locals.directorFilms.forEach((directorFilm) => { %>
        <tr>
          <td><%= directorFilm.title %></td>
          <td><%= directorFilm.release_year %></td>
          <td>
            <a
              href="/genres/films?genre_name=<%= directorFilm.genre_name %>&sort=title&order=asc"
              ><%= directorFilm.genre_name %></a
            >
          </td>
          <%- include("../partials/table/actionsCell_film", {film: directorFilm}) %>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </body>
</html>
