<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Films including "<%= locals.searchTerm %>"...</title>
    <link rel="stylesheet" href="/style.css" />
    <script type="module" src="/js/main.js" defer></script>
  </head>
  <body>
    <%- include("../partials/header", {title: `Films including "${locals.searchTerm}"...`}) %>

    <%- include("../partials/errors") %>
    <form action="/films/search" class="search-form" method="get">
      <label for="searchTerm"
        ><input type="text" name="searchTerm" id="searchTerm" required
      /></label>
      <button type="submit">Search</button>
    </form>

    <table border="1" cellpadding="5" cellspacing="0">
      <thead>
        <tr>
          <th class="table-header" id="table-header-title">
            <div class="inner-th">
              <span class="header-title">Film Title</span>
              <div class="arrow-container">
                <a
                  href="<%= `/films/search?searchTerm=${searchTerm}&sort=title&order=asc` %>"
                  class="arrow up-arrow"
                  >↑</a
                >
                <a
                  href="<%= `/films/search?searchTerm=${searchTerm}&sort=title&order=desc` %>"
                  class="arrow down-arrow"
                  >↓</a
                >
              </div>
            </div>
          </th>

          <th class="table-header" id="table-header-release-year">
            <div class="inner-th">
              <span class="header-title">Release Year</span>
              <div class="arrow-container">
                <a
                  href="<%= `/films/search?searchTerm=${searchTerm}&sort=release_year&order=asc` %>"
                  class="arrow up-arrow"
                  >↑</a
                >
                <a
                  href="<%= `/films/search?searchTerm=${searchTerm}&sort=release_year&order=desc` %>"
                  class="arrow down-arrow"
                  >↓</a
                >
              </div>
            </div>
          </th>

          <th class="table-header" id="table-header-director">
            <div class="inner-th">
              <span class="header-title">Director</span>
              <div class="arrow-container">
                <a
                  href="<%= `/films/search?searchTerm=${searchTerm}&sort=dir_name&order=asc` %>"
                  class="arrow up-arrow"
                  >↑</a
                >
                <a
                  href="<%= `/films/search?searchTerm=${searchTerm}&sort=dir_name&order=desc` %>"
                  class="arrow down-arrow"
                  >↓</a
                >
              </div>
            </div>
          </th>

          <th class="table-header" id="table-header-genre">
            <div class="inner-th">
              <span class="header-title">Genre</span>
              <div class="arrow-container">
                <a
                  href="<%= `/films/search?searchTerm=${searchTerm}&sort=genre_name&order=asc` %>"
                  class="arrow up-arrow"
                  >↑</a
                >
                <a
                  href="<%= `/films/search?searchTerm=${searchTerm}&sort=genre_name&order=desc` %>"
                  class="arrow down-arrow"
                  >↓</a
                >
              </div>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <% locals.searchFilms.forEach((film) => { %>
        <tr>
          <td><%= film.title %></td>
          <td><%= film.release_year %></td>
          <td>
            <a
              href="/directors/films?dir_name=<%= film.dir_name %>&sort=title&order=asc"
              ><%= film.dir_name %></a
            >
          </td>
          <td>
            <a
              href="/genres/films?genre_name=<%= film.genre_name %>&sort=title&order=asc"
              ><%= film.genre_name %></a
            >
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </body>
</html>
